.intro {
  position: relative;
  font-family: 'VT323';
  color: white;
  font-size: 20px;
  height: 5%;
  width: 100%;
  left: 2%;
  display: inline-block;
}
header {
  height: 100px;
  width: 500px;
  margin-top: 25px;
  margin-left: 25px;
  font-family: 'VT323';
  font-size: 80px;
  color: whitesmoke;
}
body {
  background: #009900;
  position: relative;
}

.score_container {
  position: relative;
  width: 90%;
  bottom: 40%;
  left: 30px;
  border: 3px solid white;
  padding: 20px;
}

.icard{
  position: absolute;
  padding: 10px;
  height: 200px;
  width: 150px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  display: inline-block;
  top: 0;
  left: 0;
}

.cardtop {
  font-size: 2em;
  height: 40px;
  line-height: 0.7em;
}
.cardmid {
  text-align: center;
  font-size: 6.5em;
  height: 110px;
}
.cardbottom {
  font-size: 2em;
  height: 50px;
  line-height: 0.7em;
  transform: rotate(-180deg); /*to flip it for bottom of card*/
}

.hearts .suit::after{ content: '\2665';}
.spades .suit::after{ content: '\2660';}
.clubs .suit::after{ content: '\2663';}
.diams .suit::after{ content: '\2666';}

/*this replaces line:  var bgColor = (c.icon == "H" || c.icon == "D") ? "red" : "black"; */
.spades, .clubs{color: black;}
.hearts, .diams{color: red;}

.hand {
  position: relative;
}
.players{
  float: left;
  width: 49%;
  min-height: 300px;
  border: 1px solid lightgrey;
}
.score{
  font-size: 1.5em;
}
#message{
  font-size: 1.2em;
  /*make it centered?  */
  text-align: center;
  color: white;
  background-color: rgb(0, 4, 255);
  padding: 10px;
}
.btn{
  border-radius: 5px;
  padding: 9px 20px;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 1px 1px #000;
}
#btnBattle{
  background-color: red;
}
#btnBattle2{
  background-color: orangered;
}
#btnBattle3{
  background-color: aqua;
}
#btnBattle4{
  background-color: blue;
}
#btnBattle5{
  background-color: olive;
}
#btnBattle6{
  background-color: yellowgreen;
}
#btnBattle7{
  background-color: orange;
}
